@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to my website for cooking recipes</h1>
        <p>Here you can store all of your cooking recipes and share them with your friends.</p>
        <hr class="my-4">
        <p>To use all the features you need to login.</p>
    </div>
</div>